backend/src/RateGun.Domain/bin/*
backend/src/RateGun.Domain/obj/*
backend/src/RateGun.Infrastructure/bin/*
backend/src/RateGun.Infrastructure/obj/*
backend/src/RateGun.Application/bin/*
backend/src/RateGun.Application/obj/*
backend/.vs/*
frontend/node_modules/*
frontend/package-lock.json
/.vs/RateGun/v17
/backend/src/RateGun.Infrastructure/Database1_log.ldf
/.vs
