$primary-color:       white; // TODO Remove

$app-primary-color:   #3c3c3c;
$app-secondary-color: #1e1e1e;
$app-accent-color:    #004edf;
$app-bar-color:       #0f1b46;

$app-secondary-lighter-color: #2d2d2d;
$app-secondary-darker-color:  #161616;

// Rategun Color Scheme

$text-color:              white;
$muted-text-color:        rgba(255, 255, 255, 0.6);
$error-color:             #020202;

$app-background:          #303030;
$app-bar-background:      #16047c;

